*,
*:after,
*:before{
    box-sizing: border-box;
}
*{
    margin: 0;
}



body,
html{
    height: 100%;
    background-color: transparent;
    font-family: "barrow", sans-serif;
    font-size: 16px;

}



.site{
    background: #222 url("../img/chalkboard.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 100%;

}
header{
    max-width: 1440px;
    margin: 0 auto;
    padding: 3em 0;
}
h1{
    background-color: black;
    color: gold;
    font-size: 4rem;

}



.container{
    background-color: gray;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2em;
    max-width: 1440px;
    margin: 3em auto;
    padding: 1rem;

}



.participants_form
input,
button{
    font: inherit;
}
input[type="text"],
input[type="number"]{
    padding: 0.5em;
    font-size: 1.3rem;
    line-height: 1rem;
    border: 1px solid black;
    border-radius: 8px;
}
.btn{
    margin: 1em 0;
    padding: 0.7em 1.2em;
    background: whitesmoke;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background-color: black;
    color: gold;
}



#participants_container{
    margin: 2em 0;
    padding: 1em;
    background-color: black;
}
#participants_container h2{
    color: gold;
    font-size: 2rem;
}
.participants{
    padding: 1em;
    color: gold;

}